USE [master]
GO
/****** Object:  Database [SGA_ITLA]    Script Date: 7/3/2026 7:05:45 a. m. ******/
CREATE DATABASE [SGA_ITLA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SGA_ITLA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SGA_ITLA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SGA_ITLA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SGA_ITLA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SGA_ITLA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SGA_ITLA]
GO
/****** Object:  Table [dbo].[Administradores]    Script Date: 7/3/2026 7:05:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administradores](
	[PersonaId] [int] NOT NULL,
	[NivelAcceso] [nvarchar](50) NOT NULL,
	[AreaResponsable] [nvarchar](100) NOT NULL,
	[FechaAsignacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Autobuses]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autobuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [nvarchar](20) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[EstadoAutobusId] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Autorizaciones]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autorizaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonaId] [int] NOT NULL,
	[TipoAutorizacionId] [int] NOT NULL,
	[Saldo] [decimal](18, 2) NULL,
	[ViajesRestantes] [int] NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[FechaVencimiento] [datetime2](7) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conductores]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conductores](
	[PersonaId] [int] NOT NULL,
	[LicenciaConducir] [nvarchar](50) NOT NULL,
	[FechaVencimientoLicencia] [date] NOT NULL,
	[CategoriaLicencia] [nvarchar](10) NOT NULL,
	[EstadoConductorId] [int] NOT NULL,
	[FechaContratacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[PersonaId] [int] NOT NULL,
	[CodigoEmpleado] [nvarchar](20) NOT NULL,
	[Departamento] [nvarchar](100) NOT NULL,
	[Cargo] [nvarchar](100) NOT NULL,
	[FechaContratacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoAutobuses]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoAutobuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoConductores]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoConductores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoIncidencias]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoIncidencias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoViajes]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoViajes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[PersonaId] [int] NOT NULL,
	[Matricula] [nvarchar](20) NOT NULL,
	[Carrera] [nvarchar](100) NOT NULL,
	[FechaIngreso] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RutaId] [int] NOT NULL,
	[DiaSemana] [tinyint] NOT NULL,
	[HoraSalida] [time](7) NOT NULL,
	[HoraLlegadaEstimada] [time](7) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidencias]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidencias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ViajeId] [int] NOT NULL,
	[TipoIncidenciaId] [int] NOT NULL,
	[Descripcion] [nvarchar](1000) NOT NULL,
	[FechaReporte] [datetime2](7) NOT NULL,
	[Gravedad] [bit] NOT NULL,
	[EvidenciaUrl] [nvarchar](500) NULL,
	[EstadoIncidenciaId] [int] NOT NULL,
	[Resolucion] [nvarchar](1000) NULL,
	[FechaResolucion] [datetime2](7) NULL,
	[ReportadoPorConductorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paradas]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paradas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RutaId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Ubicacion] [nvarchar](200) NULL,
	[Orden] [int] NOT NULL,
	[TiempoDesdeOrigen] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Paradas_Ruta_Orden] UNIQUE NONCLUSTERED 
(
	[RutaId] ASC,
	[Orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[DocumentoIdentidad] [nvarchar](20) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Direccion] [nvarchar](200) NULL,
	[FechaNacimiento] [date] NULL,
	[TipoPersonaId] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DocumentoIdentidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrosUso]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrosUso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonaId] [int] NOT NULL,
	[ViajeId] [int] NOT NULL,
	[AutorizacionId] [int] NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[AccesoPermitido] [bit] NOT NULL,
	[MotivoRechazo] [nvarchar](500) NULL,
	[TipoRegistroId] [int] NOT NULL,
	[ValidadoPorConductorId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutas]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Origen] [nvarchar](200) NOT NULL,
	[Destino] [nvarchar](200) NOT NULL,
	[DuracionEstimada] [time](7) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAutorizaciones]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAutorizaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoIncidencias]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoIncidencias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPersonas]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPersonas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoRegistros]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoRegistros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosAdministrador]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosAdministrador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdministradorId] [int] NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](500) NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AdministradorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosEmpleado]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosEmpleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](500) NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmpleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosEstudiante]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosEstudiante](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EstudianteId] [int] NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](500) NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viajes]    Script Date: 7/3/2026 7:05:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viajes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RutaId] [int] NOT NULL,
	[AutobusId] [int] NOT NULL,
	[ConductorId] [int] NOT NULL,
	[HorarioId] [int] NULL,
	[FechaProgramada] [date] NOT NULL,
	[HoraInicioReal] [datetime2](7) NULL,
	[HoraFinReal] [datetime2](7) NULL,
	[EstadoViajeId] [int] NOT NULL,
	[OcupacionActual] [int] NOT NULL,
	[Observaciones] [nvarchar](1000) NULL,
	[ProgramadoPorUsuarioId] [int] NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administradores] ADD  DEFAULT ('Standard') FOR [NivelAcceso]
GO
ALTER TABLE [dbo].[Autobuses] ADD  DEFAULT ((1)) FOR [EstadoAutobusId]
GO
ALTER TABLE [dbo].[Autobuses] ADD  DEFAULT (getutcdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Autobuses] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Autorizaciones] ADD  DEFAULT ((0)) FOR [Saldo]
GO
ALTER TABLE [dbo].[Autorizaciones] ADD  DEFAULT (getutcdate()) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[Autorizaciones] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Autorizaciones] ADD  DEFAULT (getutcdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Conductores] ADD  DEFAULT ((1)) FOR [EstadoConductorId]
GO
ALTER TABLE [dbo].[Horarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Horarios] ADD  DEFAULT (getutcdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Incidencias] ADD  DEFAULT (getutcdate()) FOR [FechaReporte]
GO
ALTER TABLE [dbo].[Incidencias] ADD  DEFAULT ((0)) FOR [Gravedad]
GO
ALTER TABLE [dbo].[Incidencias] ADD  DEFAULT ((1)) FOR [EstadoIncidenciaId]
GO
ALTER TABLE [dbo].[Personas] ADD  DEFAULT (getutcdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Personas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[RegistrosUso] ADD  DEFAULT (getutcdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Rutas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Rutas] ADD  DEFAULT (getutcdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[UsuariosAdministrador] ADD  DEFAULT (getutcdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[UsuariosAdministrador] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[UsuariosEmpleado] ADD  DEFAULT (getutcdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[UsuariosEmpleado] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[UsuariosEstudiante] ADD  DEFAULT (getutcdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[UsuariosEstudiante] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Viajes] ADD  DEFAULT ((1)) FOR [EstadoViajeId]
GO
ALTER TABLE [dbo].[Viajes] ADD  DEFAULT ((0)) FOR [OcupacionActual]
GO
ALTER TABLE [dbo].[Viajes] ADD  DEFAULT (getutcdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Administradores]  WITH CHECK ADD  CONSTRAINT [FK_Administradores_Persona] FOREIGN KEY([PersonaId])
REFERENCES [dbo].[Personas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Administradores] CHECK CONSTRAINT [FK_Administradores_Persona]
GO
ALTER TABLE [dbo].[Autobuses]  WITH CHECK ADD  CONSTRAINT [FK_Autobuses_Estado] FOREIGN KEY([EstadoAutobusId])
REFERENCES [dbo].[EstadoAutobuses] ([Id])
GO
ALTER TABLE [dbo].[Autobuses] CHECK CONSTRAINT [FK_Autobuses_Estado]
GO
ALTER TABLE [dbo].[Autorizaciones]  WITH CHECK ADD  CONSTRAINT [FK_Autorizaciones_Persona] FOREIGN KEY([PersonaId])
REFERENCES [dbo].[Personas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Autorizaciones] CHECK CONSTRAINT [FK_Autorizaciones_Persona]
GO
ALTER TABLE [dbo].[Autorizaciones]  WITH CHECK ADD  CONSTRAINT [FK_Autorizaciones_Tipo] FOREIGN KEY([TipoAutorizacionId])
REFERENCES [dbo].[TipoAutorizaciones] ([Id])
GO
ALTER TABLE [dbo].[Autorizaciones] CHECK CONSTRAINT [FK_Autorizaciones_Tipo]
GO
ALTER TABLE [dbo].[Conductores]  WITH CHECK ADD  CONSTRAINT [FK_Conductores_Estado] FOREIGN KEY([EstadoConductorId])
REFERENCES [dbo].[EstadoConductores] ([Id])
GO
ALTER TABLE [dbo].[Conductores] CHECK CONSTRAINT [FK_Conductores_Estado]
GO
ALTER TABLE [dbo].[Conductores]  WITH CHECK ADD  CONSTRAINT [FK_Conductores_Persona] FOREIGN KEY([PersonaId])
REFERENCES [dbo].[Personas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Conductores] CHECK CONSTRAINT [FK_Conductores_Persona]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Persona] FOREIGN KEY([PersonaId])
REFERENCES [dbo].[Personas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Persona]
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Estudiantes_Persona] FOREIGN KEY([PersonaId])
REFERENCES [dbo].[Personas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Estudiantes] CHECK CONSTRAINT [FK_Estudiantes_Persona]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Ruta] FOREIGN KEY([RutaId])
REFERENCES [dbo].[Rutas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [FK_Horarios_Ruta]
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [FK_Incidencias_Estado] FOREIGN KEY([EstadoIncidenciaId])
REFERENCES [dbo].[EstadoIncidencias] ([Id])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Incidencias_Estado]
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [FK_Incidencias_ReportadoPor] FOREIGN KEY([ReportadoPorConductorId])
REFERENCES [dbo].[Conductores] ([PersonaId])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Incidencias_ReportadoPor]
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [FK_Incidencias_Tipo] FOREIGN KEY([TipoIncidenciaId])
REFERENCES [dbo].[TipoIncidencias] ([Id])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Incidencias_Tipo]
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [FK_Incidencias_Viaje] FOREIGN KEY([ViajeId])
REFERENCES [dbo].[Viajes] ([Id])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Incidencias_Viaje]
GO
ALTER TABLE [dbo].[Paradas]  WITH CHECK ADD  CONSTRAINT [FK_Paradas_Ruta] FOREIGN KEY([RutaId])
REFERENCES [dbo].[Rutas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Paradas] CHECK CONSTRAINT [FK_Paradas_Ruta]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_TipoPersona] FOREIGN KEY([TipoPersonaId])
REFERENCES [dbo].[TipoPersonas] ([Id])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_TipoPersona]
GO
ALTER TABLE [dbo].[RegistrosUso]  WITH CHECK ADD  CONSTRAINT [FK_RegistrosUso_Autorizacion] FOREIGN KEY([AutorizacionId])
REFERENCES [dbo].[Autorizaciones] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[RegistrosUso] CHECK CONSTRAINT [FK_RegistrosUso_Autorizacion]
GO
ALTER TABLE [dbo].[RegistrosUso]  WITH CHECK ADD  CONSTRAINT [FK_RegistrosUso_Persona] FOREIGN KEY([PersonaId])
REFERENCES [dbo].[Personas] ([Id])
GO
ALTER TABLE [dbo].[RegistrosUso] CHECK CONSTRAINT [FK_RegistrosUso_Persona]
GO
ALTER TABLE [dbo].[RegistrosUso]  WITH CHECK ADD  CONSTRAINT [FK_RegistrosUso_Tipo] FOREIGN KEY([TipoRegistroId])
REFERENCES [dbo].[TipoRegistros] ([Id])
GO
ALTER TABLE [dbo].[RegistrosUso] CHECK CONSTRAINT [FK_RegistrosUso_Tipo]
GO
ALTER TABLE [dbo].[RegistrosUso]  WITH CHECK ADD  CONSTRAINT [FK_RegistrosUso_ValidadoPor] FOREIGN KEY([ValidadoPorConductorId])
REFERENCES [dbo].[Conductores] ([PersonaId])
GO
ALTER TABLE [dbo].[RegistrosUso] CHECK CONSTRAINT [FK_RegistrosUso_ValidadoPor]
GO
ALTER TABLE [dbo].[RegistrosUso]  WITH CHECK ADD  CONSTRAINT [FK_RegistrosUso_Viaje] FOREIGN KEY([ViajeId])
REFERENCES [dbo].[Viajes] ([Id])
GO
ALTER TABLE [dbo].[RegistrosUso] CHECK CONSTRAINT [FK_RegistrosUso_Viaje]
GO
ALTER TABLE [dbo].[UsuariosAdministrador]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioAdministrador_Administrador] FOREIGN KEY([AdministradorId])
REFERENCES [dbo].[Administradores] ([PersonaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuariosAdministrador] CHECK CONSTRAINT [FK_UsuarioAdministrador_Administrador]
GO
ALTER TABLE [dbo].[UsuariosEmpleado]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioEmpleado_Empleado] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([PersonaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuariosEmpleado] CHECK CONSTRAINT [FK_UsuarioEmpleado_Empleado]
GO
ALTER TABLE [dbo].[UsuariosEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioEstudiante_Estudiante] FOREIGN KEY([EstudianteId])
REFERENCES [dbo].[Estudiantes] ([PersonaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuariosEstudiante] CHECK CONSTRAINT [FK_UsuarioEstudiante_Estudiante]
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD  CONSTRAINT [FK_Viajes_Autobus] FOREIGN KEY([AutobusId])
REFERENCES [dbo].[Autobuses] ([Id])
GO
ALTER TABLE [dbo].[Viajes] CHECK CONSTRAINT [FK_Viajes_Autobus]
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD  CONSTRAINT [FK_Viajes_Conductor] FOREIGN KEY([ConductorId])
REFERENCES [dbo].[Conductores] ([PersonaId])
GO
ALTER TABLE [dbo].[Viajes] CHECK CONSTRAINT [FK_Viajes_Conductor]
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD  CONSTRAINT [FK_Viajes_Estado] FOREIGN KEY([EstadoViajeId])
REFERENCES [dbo].[EstadoViajes] ([Id])
GO
ALTER TABLE [dbo].[Viajes] CHECK CONSTRAINT [FK_Viajes_Estado]
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD  CONSTRAINT [FK_Viajes_Horario] FOREIGN KEY([HorarioId])
REFERENCES [dbo].[Horarios] ([Id])
GO
ALTER TABLE [dbo].[Viajes] CHECK CONSTRAINT [FK_Viajes_Horario]
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD  CONSTRAINT [FK_Viajes_ProgramadoPor] FOREIGN KEY([ProgramadoPorUsuarioId])
REFERENCES [dbo].[UsuariosAdministrador] ([Id])
GO
ALTER TABLE [dbo].[Viajes] CHECK CONSTRAINT [FK_Viajes_ProgramadoPor]
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD  CONSTRAINT [FK_Viajes_Ruta] FOREIGN KEY([RutaId])
REFERENCES [dbo].[Rutas] ([Id])
GO
ALTER TABLE [dbo].[Viajes] CHECK CONSTRAINT [FK_Viajes_Ruta]
GO
ALTER TABLE [dbo].[Autobuses]  WITH CHECK ADD CHECK  (([Capacidad]>(0)))
GO
ALTER TABLE [dbo].[Autorizaciones]  WITH CHECK ADD  CONSTRAINT [CHK_Autorizacion_Valida] CHECK  (([FechaVencimiento]>[FechaEmision]))
GO
ALTER TABLE [dbo].[Autorizaciones] CHECK CONSTRAINT [CHK_Autorizacion_Valida]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [CHK_Horario_Valido] CHECK  (([HoraLlegadaEstimada]>[HoraSalida]))
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [CHK_Horario_Valido]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD CHECK  (([DiaSemana]>=(0) AND [DiaSemana]<=(6)))
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [CHK_Incidencia_Resolucion] CHECK  (([EstadoIncidenciaId]<>(4) OR [Resolucion] IS NOT NULL AND [FechaResolucion] IS NOT NULL))
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [CHK_Incidencia_Resolucion]
GO
ALTER TABLE [dbo].[Paradas]  WITH CHECK ADD CHECK  (([Orden]>(0)))
GO
ALTER TABLE [dbo].[RegistrosUso]  WITH CHECK ADD  CONSTRAINT [CHK_Registro_Motivo] CHECK  (([AccesoPermitido]=(1) OR [MotivoRechazo] IS NOT NULL))
GO
ALTER TABLE [dbo].[RegistrosUso] CHECK CONSTRAINT [CHK_Registro_Motivo]
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD  CONSTRAINT [CHK_Viaje_Tiempos] CHECK  (([HoraFinReal] IS NULL OR [HoraFinReal]>[HoraInicioReal]))
GO
ALTER TABLE [dbo].[Viajes] CHECK CONSTRAINT [CHK_Viaje_Tiempos]
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD CHECK  (([OcupacionActual]>=(0)))
GO
USE [master]
GO
